* {
  box-sizing: border-box;
}
a:hover {
  color: white;
}
/* layout styles */
body {
  margin: 0;
  background-color: #E4E1EC;
  font-fmaily: "barlow", sans-serif;
}
header, footer {
  width: 100vw;
  background-color: #BDB9CB;
  padding: 25px 0;
  font-family: "overpass", sans-serif;
}
footer {
  margin-top: 100px;
  text-align: center;
}
.contain, main {
  width: 70vw;
  margin: 0 auto;
  display: flow-root;
}
.title {
  float: left;
  font-family: "overpass", sans-serif;
}
nav {
  float: right;
}
.hero {
  width: 100%;
  padding: 500px 0 100px;
  background: url(../img/sky1.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "overpass", sans-serif;
}
.row {
  width: 100%;
  margin-top: 100px;
  display: flow-root;
  font-family: "overpass", sans-serif;
}
.item {
  width: calc(33.33333% - (50px / 3));
  float: left;
  margin-top: 25px;
}
.margins {
  margin-left: 25px;
  margin-right: 25px;
}

/* type styles */
h1 {
  font-size: 4rem;
  margin: 0;
}
.intro {
  font-size: 2rem;
}
p {
  margin: 0;
  font-family: "overpass", sans-serif;
}
.item p {
  margin-bottom: 25px;
}
/* list styles */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  float: left;
  margin: 0 0 0 25px;
}

/* image styles */
img {
  width: 100%;
}

/* link styles */
a, a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid white;
}
a:hover {
  color: white;
}
/* button styles */
button {
  outline: none;
  border: 2px solid #D6D4DD;
  margin: 25px 0 0;
  padding: 3px 5px;
  background-color: white;
  transition: background-color ease 1s;
}
button:hover {
  background-color: #BDB9CB;
}
button a, button a:link, button a:visited, button a:active {
  border: none;
}
